:root {
    --bug: #ACC23E;
    --dragon: #8572C8;	
    --electric:	#E7C536; 
    --fairy: #E8B0EB;
    --fighting:	#C45D4C;	
    --fire: #E87A3D;
    --ghost: #816DB6;
    --grass: #82C95B;
    --ground: #CEB250;
    --ice: #81CFD7;
    --normal: #ACAD99;	
    --poison: #B369AF;
    --psychic: #E96C95; 
    --rock: #BAA85E;
    --water: #639CE4; 
}

/* Border-Color for preview-box */
.b-bug {
    border: 8px solid var(--bug);
}

.b-dragon {
    border: 8px solid var(--dragon);
}

.b-electric {
    border: 8px solid var(--electric);
}

.b-fairy {
    border: 8px solid var(--fairy);
}

.b-fighting {
    border: 8px solid var(--fighting);
}

.b-fire {
    border: 8px solid var(--fire);
}

.b-ghost {
    border: 8px solid var(--ghost);
}

.b-grass {
    border: 8px solid var(--grass);
}

.b-ground {
    border: 8px solid var(--ground);
}

.b-ice {
    border: 8px solid var(--ice);
}

.b-normal {
    border: 8px solid var(--normal);
}

.b-poison {
    border: 8px solid var(--poison);
}

.b-psychic {
    border: 8px solid var(--psychic);
}

.b-rock {
    border: 8px solid var(--rock);
}

.b-water {
    border: 8px solid var(--water);
}


/* Background-Color for title-stats-container */
.bg-bug {
    background-color: var(--bug);
}

.bg-dragon {
    background-color: var(--dragon);
}

.bg-electric {
    background-color: var(--electric);
}

.bg-fairy {
    background-color: var(--fairy);
}

.bg-fighting {
    background-color: var(--fighting);
}

.bg-fire {
    background-color: var(--fire);
}

.bg-ghost {
    background-color: var(--ghost);
}

.bg-grass {
    background-color: var(--grass);
}

.bg-ground {
    background-color: var(--ground);
}

.bg-ice {
    background-color: var(--ice);
}

.bg-normal {
    background-color: var(--normal);
}

.bg-poison {
    background-color: var(--poison);
}

.bg-psychic {
    background-color: var(--psychic);
}

.bg-rock {
    background-color: var(--rock);
}

.bg-water {
    background-color: var(--water);
}